{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
    href="{% static 'portfolio/css/style.css' %}"
    crossorigin="anonymous">
</head>

<body class="container">
    <h1><a href="{% url "portfolio:index" %}">Sober Wizard's Lab</a></h1>

    <nav>
    <ul style="list-style: none;">
        <li>
            <a href="{% url "portfolio:news" %}">NEWS</a>
        </li>
        <li>
            <a href="{% url "portfolio:profile" %}">PROFILE</a>
        </li>
        <li>
            <a href="{% url "portfolio:works" %}">WORKS</a>
        </li>
    </ul>
    </nav>

    <div>
    {% block header %}{% endblock %}
    </div>

    <div class="content">
    {% block content %}{% endblock %}
    </div>

    <hr>
    <footer>
        <div class="copyright">
            <span class="float-right">copyright 2020
                Kippei-WATANABE.</span>
        </div>
    </footer>
</body>
</html>
