{% extends "portfolio/layout.html" %}
{% load static %}
{% block title %}Works{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<h3>PICTURE</h3>
{% if pics %}
<!--If pictures exist, show pics below.-->
{% for pic in pics %}
    <img src="{{pic.picture.url}}" width=200>
    <p>{{pic.title}}</p>
{% endfor %}
{% endif %}

<br>
<br>

<!--If UNSPLASH_API is True, show pics below.-->
{% if data %}
{% for info in data %}
    <a href="{{info.links.download_location}}"><img src="{{info.urls.small}}" alt=""
    width=300 oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;"></a>
    <p>Photo By <a href="{{info.user.links.html}}">{{info.user.name}}</a>
     on <a href="https://unsplash.com/">Unsplash</a></p>
{% endfor %}
{% endif %}


{% endblock content %}
<script>

</script>
